# .gitignore
node_modules
.env
# Images
*.bmp
*.gif
*.ico
*.jpeg
*.jpg
*.png
*.svg
*.tif
*.tiff
*.webp

# Videos
*.avi
*.flv
*.m2ts
*.mkv
*.mov
*.mp4
*.mpeg
*.mpg
*.mts
*.ogv
*.webm
*.wmv

# PDFs
*.pdf